/*FONTE*/
.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/*TEKST*/

h1 {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
}

h2 {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Goldman, sans serif;
  margin: 0;
  padding: 0;
  background-color: #323232;
}
