---
import BurgerMenu from "../components/BurgerMenu.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import "../styles/index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Forside</title>
  </head>

  <body>
    <BurgerMenu />
    <MainLayout>
      <main>
        <div class="grid-container">
          <div class="box box1">
            <h2 class="grøntekst">BLIND BIRD TICKETS ON SALE NOW</h2>
            <br />
            <Button variant="green" size="medium">Get your tickets here</Button>
          </div>

          <div class="box box2 image-box"></div>

          <div class="box box4">
            <h2>See you next summer!</h2>
            <img class="jester" src="/imgs/jestersort.png" alt="JESTER" />
            <h2>4-8 June 2025</h2>
          </div>

          <div class="box box3 image-box"></div>

          <div class="box box5">
            <h2 class="sorttekst">Can't wait? Go take a look at our 2025 lineup</h2>
            <Button variant="orange" size="medium"><a href="/lineup">Lineup</a></Button>


          </div>

          <div class="box box6 image-box"></div>

          <div class="box box7">
            <h2 class="sorttekst">
              The official <h2>festival app</h2><h2 class="sorttekst">Get set times, maps and more</h2>
              <div>

                <Button variant="darkgrey" size="small" placement="bottom">
                  <img src="/imgs/AppSymbol.png" alt="App image" />
                </Button>

                <Button variant="darkgrey" size="small" placement="bottom">
                  <img src="/imgs/Playstore.png" alt="Playstore image" />
                </Button>

              </div>
            </h2>
          </div>

          <div class="box box8 image-box"></div>

          <div class="box box9 image-box">
            <Button variant="green" size="medium" placement="bottom">Merchandise</Button>
          </div>

          <div class="box box10">
            <h2>Discover our many events all over Copenhagen</h2>

            <Button variant="green" size="medium" placement="bottom">Events</Button>
          </div>

          <div class="box box11">
            <h2 class="sorttekst">Neighbour</h2>
            <h2 class="h2regular">Are you a neighbour to Distortion? Get all the info you need here</h2>
            <Button variant="black" size="medium" placement="bottom">Neighbour</Button>
          </div>

          <div class="box box12 image-box"></div>
        </div>
      </main>
    </MainLayout>
  </body>
</html>
