---
import BurgerMenu from "../components/BurgerMenu.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Line up</title>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet" />
  </head>

  <body>
    <BurgerMenu />
    <MainLayout>
      <main>
        <div>
          <h2 class="h2lineupoverskift">DISTORTION X</h2>
          <h1 class="h1lineupoverskift">NØRREBRO</h1>
          <h2 class="h2lineupoverskift">THURSDAY 30TH OF MAY<br /> 2025</h2>
        </div>

        <div class="grid-container">
          <div class="box box1 image-box">
            <img src="/imgs/artig.png" alt="artig" />
            <h2 class="text">ARTIG ARTIG</h2>
          </div>
          <div class="box box2 image-box">
            <img src="/imgs/noahcarter.png" alt="noahcarter" />
            <h2 class="text">NOAH CARTER</h2>
          </div>
          <div class="box3">
            <button class="billeter"><img class="fix" src="/imgs/tickets-alt-svgrepo-com.svg" alt="billede af biletter" /></button>
          </div>
          <div class="box4">
            <button class="billeter"><img class="fix" src="/imgs/tickets-alt-svgrepo-com.svg" alt="billede af biletter" /></button>
          </div>
          <div class="box box5 image-box">
            <img src="/imgs/kindmodkind.png" alt="kindmodkind" />
            <h2 class="text">KIND MOD KIND</h2>
          </div>
          <div class="box box6 image-box">
            <img src="/imgs/goldie.png" alt="goldie" />
            <h2 class="text">GOLDIE</h2>
          </div>
          <div class="box box7 image-box">
            <img src="/imgs/yakuza.png" alt="yakuza" />
            <h2 class="text">YAKUZA</h2>
          </div>
          <div class="box box8">
            <button class="billeter"><img src="/imgs/tickets-alt-svgrepo-com.svg" alt="billede af biletter" /></button>
          </div>
          <div class="box box9 image-box">
            <img src="/imgs/icekid.png" alt="icekid" />
            <h2 class="text">ICE KID</h2>
          </div>
          <div class="box box10 image-box">
            <img src="/imgs/avavav.png" alt="avavav" />
            <h2 class="text">AV AV AV</h2>
          </div>
          <div class="box box11 image-box">
            <img src="/imgs/gobs.png" alt="gobs" />
            <h2 class="text">MARCUS GOBS</h2>
          </div>
          <div class="box box12">
            <button class="billeter"><img src="/imgs/tickets-alt-svgrepo-com.svg" alt="billede af biletter" /></button>
          </div>
        </div>
      </main>
    </MainLayout>
  </body>
</html>
