---
import BurgerMenu from "../components/BurgerMenu.astro";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/lineup.css";
const url = "https://hvqqqwpdmwotjgxebrxv.supabase.co/rest/v1/distortion?order=id.asc";

const data = await fetch(url, {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2cXFxd3BkbXdvdGpneGVicnh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU2MDY4NzQsImV4cCI6MjA0MTE4Mjg3NH0.K9dKO1K4NQBdSCsqBZHh1Yc4L8VNHDBNgRCzsI0fSSQ",
  },
}).then((res) => res.json());
---
<BurgerMenu />
<MainLayout>
  

  <div>
    <h2 class="h2lineupoverskift">DISTORTION X</h2>
    <h1 class="h1lineupoverskift">NØRREBRO</h1>
    <h2 class="h2lineupoverskift">THURSDAY 30TH OF MAY<br /> 2025</h2>
  </div>

  <ul class="grid_container">
    {data.map((item) => <Card data={item} />)}
  </ul>
</MainLayout>

<style>
  .grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    margin: 0;
    height: auto;
  }

  @media (max-width: 600px) {
    .grid_container {
      grid-template-columns: 1fr; /* Én kolonne */
      max-width: 100%; /* Juster max-width */
      margin: 0 auto; /* Centerer containeren */
    }
  }
</style>
