---
const { variant = "green", size = "medium", placement = null } = Astro.props;
---

<button data-variant={variant} data-size={size} data-placement={placement}>
  <slot />
</button>

<style>
  /* Variants */
  [data-variant="green"] {
    background: #46ec5a;
    color: #030303;
    border-radius: 25px;
    padding: 10px 20px;
  }

  [data-variant="green"]:hover {
    color: white;
  }

  [data-variant="grey"] {
    background: #666666;
    color: #46ec5a;
    border-radius: 25px;
    padding: 10px 20px;
  }

  [data-variant="grey"]:hover {
    color: white;
  }
  [data-variant="orange"] {
    background: #e08516;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
  }

  [data-variant="orange"]:hover {
    color: #030303;
  }

  [data-variant="black"] {
    background: #030303;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
  }

  [data-variant="black"]:hover {
    color: #46ec5a;
  }

  [data-variant="darkgrey"] {
    background: #323232;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
  }

  [data-variant="darkgrey"]:hover {
    background: #444444;
    color: #46ec5a;
  }

  /* Sizes */
  [data-size="medium"] {
    font-size: var(--font-size-base);
    min-height: var(--space-xxxl);
    padding-block: var(--space-xs);
    padding-inline: var(--space-xl);
    width: 260px;
  }
  [data-size="small"] {
    font-size: var(--font-size-small);
    min-height: var(--space-xl);
    padding-block: var(--space-xxxs);
    padding-inline: var(--space-md);
    width: 100px;
  }

  /* Placement */
  [data-placement="bottom"] {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  [data-placement="right"] {
    position: relative;
    bottom: 10px;
    right: 30px;
  }

  /* Style for anchor tags */
  a {
    color: inherit;
    text-decoration: none;
    display: block;
  }

  /* Billede i knap */
  button img {
    margin-right: 10px;
    height: 20px;
  }
</style>
