---
import Footer from "../components/Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
   

    <h1>
      DISTOR<span class="inline-image">T</span><img src="/imgs/chesterthejester.svg" alt="chesterthejester" class="inline-image" />O<span>N</span>
    </h1>

    <main>
      <slot />
    </main>

    <Footer></Footer>
  </body>
</html>

    <style>
      /*** MOBIL ***/

      @media (max-width: 600px) {
        h1 {
          font-size: 2rem; /* Mindre skrifttypestørrelse for mobil */
        }

        img {
          width: 15%; /* Gør SVG-billedet mindre */
        }
      }

     
    </style>
  
