---

---

<h1>
  DISTOR<span class="inline-image">T</span><img src="/public/chesterthejester.svg" alt="chesterthejester" class="inline-image">O<span>N</span>
</h1>

<slot />


<footer>


    <div class="streg"></div>

    <div >
    <img class="imgfooter" src="/public/instagram.png" alt="Instagram logo">
    <img class="imgfooter" src="/public/facebook.png" alt="Facebook logo">
    <img class="imgfooter" src="/public/billet.png" alt="Billet ikon">
    </div>

<p>
  We are an independent festival and our not-for-profit foundation <br> 
  Fonden Distortion København supports arts and <br> 
  culture and social projects in the public space.
  <br> 
  <strong>Refshalevej 167A</strong>
  <br>
  <strong>1432 Copenhagen K</strong>
  <br>
  <strong>CVR no. 31183200</strong>
</p>


</footer>


<style>

.streg {
  width: 40%;
  height: 3px;
  background-color: #ccc;
  margin: 20px auto;
}

.imgfooter {
    margin-left: 40px;
}

p {
font-family: "Goldman", sans-serif;
line-height: 2;
}
</style>